body,
html {
  padding: 0;
  margin: 0;
}
.container {
  background: url("images/bg.jpg");
  width: 1024px;
  height: 1366px; /*1366px*/
  background-size: contain;
  text-align: center;
  background-position: center center;
}
.container img {
  width: 80%;
  margin-top: 200px;
}
.container .inputs .input {
  width: 80%;
  background-size: cover;
  display: block;
  height: 108px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
}
.container .inputs .input input,
.container .inputs .input input:focus,
.container .inputs .input textarea,
.container .inputs .input textarea:focus {
  width: 75%;
  float: right;
  height: 102px;
  background: transparent;
  border-radius: 20px;
  border: 0;
  outline: 0;
  font-size: 50px;
  color: #0e63ac;
}

.container .inputs .input textarea,
.container .inputs .input textarea:focus {
  height: 160px;
  padding: 25px;
  font-size: 35px;
}

/* .submit {
} */
.submit button {
  background-image: url("/images/submit.png");
  height: 100px;
  width: 287px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
  margin-left: 104px;
}

.logo2 {
  position: absolute;
  right: 40px;
  bottom: 30px;
  margin: 0;
  width: 200px !important;
}
